<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <!-- This is where the user lands after they initially log in. -->
     <h1>You're logged in!</h1>

</body>
</html>
